@import "../../variables.css";

.root {
	margin: 40px 0 0;
	text-align: right;
}

.button {
	background: none;
	border: 0;
	color: var(--black65);
	cursor: pointer;
	font-size: 11px;
	height: 25px;
	width: 25px;
	margin-right: 6px;
	transition: var(--transitionStyle);
}

.button:hover {
	background-color: var(--grayColorLight);
}

.buttonActive {
	background-color: var(--grayColorLightAlt);
	border: 1px solid var(--grayColorMediumAlt);
	border-radius: 4px;
	color: var(--black85);
	pointer-events: none;
}
