@import "../../variables.css";

.root {
	border-bottom: 1px solid var(--grayColorLightAlt);
	padding: 8px 0 7px;
	position: relative;
}

.container {
	padding: 0 20px;
}

@media (min-width: 768px) {
	.container {
		padding: 0 22px 0 30px;
	}
}

.container form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchField {
	background-color: var(--grayColorLight);
	border-radius: 4px;
	display: flex;
	align-items: center;
	padding: 4px 8px 3px;
}

.searchField svg {
	margin-top: -2px;
}

.searchField input {
	background: none;
	border: 0;
	font-family: var(--mainFont);
	margin: 0;
	padding: 3px 4px 5px;
}

.searchField input:focus {
	outline: 0;
}

.searchField input::placeholder {
	color: var(--black45);
	opacity: 1;
}

.searchClear {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 2px 0 0;
}

.searchClear path {
	fill: var(--grayColorMedium);
	transition: var(--transitionStyle);
}

.searchClear:hover path {
	fill: var(--black65);
}

.buttons {
	display: flex;
	align-items: center;
}

.viewToggle {
	background: none;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-left: 16px;
	padding: 0;
	transition: var(--transitionStyle);
}

.viewToggle:hover {
	background-color: var(--grayColorLight);
}

.filterToggle {
	composes: viewToggle;
	color: var(--black45);
	padding: 4px 6px;
}
