.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.errorWrapper,
.spinnerWrapper {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
