@import "../../variables.css";

.root {
	padding: 24px 0 60px;
}

.container {
	padding: 0 20px;
}

@media (min-width: 768px) {
	.container {
		padding: 0 48px 0 80px;
	}
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.table th {
	border-bottom: 1px solid var(--grayColorLightAlt);
	color: var(--black65);
	font-weight: var(--fontWeightBold);
	line-height: 1.2;
	padding: 4px 15px 5px 4px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;
}

@media (min-width: 768px) {
	.table th {
		padding: 4px 4px 5px;
	}
}

.table th:first-child {
	color: var(--grayColorMedium);
	font-size: 12px;
	font-weight: var(--fontWeightRegular);
	text-align: center;
	text-transform: none;
}

@media (min-width: 768px) {
	.table th:first-child {
		width: 140px;
	}
}

.table th:nth-child(2) {
	width: 20%;
}

.table td {
	border-bottom: 1px solid var(--grayColorLightAlt);
	color: var(--black65);
	padding: 4px 4px 5px;
}

.table td:first-child {
	text-align: center;
}

.table :global(.lazyload-wrapper) {
	height: 25px;
}

.table tbody tr {
	cursor: pointer;
	transition: var(--transitionStyle);
}

.table tbody tr:hover {
	background-color: var(--grayColorLight);
}
