@import '../../variables.css';

.root {
	background-color: var(--grayColorLight);
	border-bottom: 1px solid var(--grayColorLightAlt);
	display: flex;
	align-items: center;
	height: 56px;
}

.logo {
	display: block;
	flex: 0 0 56px;
	height: 56px;
}

.logo svg {
	height: 100%;
	width: 100%;
}

.title {
	color: var(--grayColorMedium);
	font-size: 20px;
	font-weight: var(--fontWeightRegular);
	line-height: 28px;
	letter-spacing: -0.5px;
	margin: 0 16px;
}

.author {
	color: var(--black65);
	font-size: 14px;
	line-height: 24px;
	margin-left: auto;
	margin-right: 28px;
}
