@import "../../variables.css";

.root {
	background-color: var(--white);
	box-shadow: 0 12px 48px 0 rgba(0, 0, 0, .15);
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 256px;
	z-index: 10;
}

.visible {
	display: block;
}

.header {
	border-bottom: 1px solid var(--grayColorMediumAlt);
	color: var(--black65);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	padding: 12px 24px;
}

.close {
	background: none;
	border: 0;
	cursor: pointer;
	height: 20px;
	padding: 0;
}

.close path {
	transition: var(--transitionStyle);
}

.close:hover path {
	fill: var(--black65);
}

.body {
	padding: 20px 24px 32px;
}

.filtersTitle {
	font-weight: var(--fontWeightBold);
	margin: 0 0 20px;
}

.filtersItem {
	padding: 4px 0;
	position: relative;
}

.filtersItem label {
	cursor: pointer;
}

.filtersItem input {
	position: absolute;
	visibility: hidden;
}

.styledCheckbox {
	border: 1px solid var(--checkboxBorderColor);
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin: -2px 8px 0 0;
}

.filtersItem input:checked + .styledCheckbox {
	background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43788 4.72675L1.67044 2.9593C1.47518 2.76404 1.1586 2.76404 0.963339 2.9593C0.768117 3.15452 0.768074 3.47102 0.963243 3.6663L2.44785 5.15172L2.4999 5.20177L2.73178 5.43364C3.1223 5.82417 3.75547 5.82417 4.14599 5.43364L8.03536 1.54427C8.2306 1.34903 8.2306 1.03247 8.03536 0.837229C7.84013 0.642001 7.52361 0.641983 7.32836 0.837188L3.43788 4.72675Z' fill='white'/%3E%3C/svg%3E") no-repeat center;
	background-color: var(--blueColor);
	border-color: var(--blueColor);
}