@import "../../variables.css";

.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.titleBar {
	border-bottom: 1px solid var(--grayColorLightAlt);
	height: 48px;
	padding: 8px 0 7px;
	position: relative;
}

.titleBar .container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 20px;
}

.backButton {
	background: none;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	height: 30px;
	width: 30px;
	position: absolute;
	left: 30px;
	transition: var(--transitionStyle);
}

.backButton:hover {
	background-color: var(--grayColorLight);
}

.productName {
	color: var(--black45);
	font-size: 14px;
	font-weight: var(--fontWeightRegular);
	margin: 0;
}

.productWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 688px;
}

@media (min-width: 768px) {
	.product {
		flex-direction: row;
	}
}

.productImage {
	flex: 0 0 256px;
}

.productInfo {
	flex: 1 0 auto;
}

@media (min-width: 768px) {
	.productInfo {
		padding-left: 32px;
	}
}

.productInfo table {
	border-collapse: collapse;
	width: 100%;
}

.productInfo tr:last-child td {
	border-bottom: 0;
}

.productInfo td {
	border-bottom: 1px solid var(--grayColorLightAlt);
	color: var(--black65);
	padding: 2px 0;
}

.productInfo td:last-child {
	text-align: right;
}

.errorWrapper {
	align-self: center;
	margin: 0 auto;
	text-align: center;
}