@import "../../variables.css";

.root {
	border: 1px solid var(--grayColorMediumAlt);
	border-radius: 8px;
	margin-bottom: 20px;
	overflow: hidden;
	transition: var(--transitionStyle);
}

@media (min-width: 550px) {
	.root {
		margin-bottom: 0;
	}
}

.root:hover {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .1);
}

.root a {
	text-decoration: none;
}

.image {
	background-color: var(--grayColorLight);
	padding-bottom: 53.25%;
	position: relative;
}

.image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
	position: absolute;
}

.info {
	padding: 12px;
}

.productName {
	color: var(--black65);
}

.lineName {
	color: var(--black45);
	font-size: 12px;
	line-height: 20px;
}
