:root {
	/* Colors */
	--grayColorLight: #f6f6f8;
	--grayColorLightAlt: #ededf0;
	--grayColorMedium: #838691;
	--grayColorMediumAlt: #dbdce1;
	--checkboxBorderColor: #b6b9c4;
	--black45: rgba(0, 0, 0, .45);
	--black65: rgba(0, 0, 0, .65);
	--black85: rgba(0, 0, 0, .85);
	--blueColor: #006fff;
	--white: #fff;
	
	/* Typography */
	--mainFont: 'Lato', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
	--fontWeightRegular: 400;
	--fontWeightBold: 700;
	
	/* Other */
	--transitionStyle: all .35s cubic-bezier(0.075, 0.82, 0.165, 1);
}