@import "../../variables.css";

.root {
	padding: 0 0 60px;
}

.container {
	padding: 0 20px;
}

@media (min-width: 768px) {
	.container {
		padding: 0 48px 0 80px;
	}
}

.count {
	color: var(--grayColorMedium);
	font-size: 12px;
	font-weight: var(--fontWeightRegular);
	margin: 10px 0;
}

@media (min-width: 550px) {
	.grid {
		display: grid;		
		gap: 24px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {
	.grid {
		grid-template-columns: repeat(5, 1fr);
	}
}
